<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <title>{% block title %}Home{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="static/img/fanfantasy-logo-blue.png">
    </head>
    <body>

        <div class="body-container">
            <input type="hidden" id="week" name="week" value="{{current_week}}"/>
            <input type="hidden" id="weekday" name="weekday" value="{{weekday}}"/>
            <input type="hidden" id="year" name="year" value="{{current_year}}"/>
            <input type="hidden" id="hour" name="hour" value="{{hour}}"/>
            <div id="strip-match" class="matches-strip"></div> <!-- div onde o strip vai ser adicionado por JS -->


            <header class="strip-header">
                <div class="header-container">
                    <a href="/home" class="header-logo"><img class="header-logo" src="static/img/fanfantasy-logo-blue.png"/></a>
                    <nav class="header-navigation">
                        <ul class="header-navigation-list">
                            <p id="hidden-p" value="{{url_for(request.endpoint)}}"></p>
                            <li class="header-navigation-link {% if url_for(request.endpoint) == '/' %}active{% endif %}">
                                <a href="/">Home</a>
                            </li>
                            <li class="header-navigation-link {% if url_for(request.endpoint) == '/classificacao' %}active{% endif %}">
                                <a href="/classificacao">Classificação</a>
                            </li>
                            <li class="header-navigation-link {% if url_for(request.endpoint) == '/rankings' %}active{% endif %}">
                                <a href="/rankings">Rankings</a>
                            </li>
                            <li class="header-navigation-link {% if url_for(request.endpoint) == '/fanfastats' %}active{% endif %}">
                                <a href="/fanfastats">Next Gen Fanfastats</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <nav class="header-navigation-secondary"></nav> <!-- Faixa branca -->
            </header>

            {% block content %}
            {% endblock %}
        </div>
        
        
    </body>
    <script src="static/scripts/strip-match.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</html>     