{% extends "base.html" %}
{% block title %}Fanfantasy Football - Rankings{% endblock %}   
{% block content %}
    <!-- classificação -->
    <section class="section-navigation">
        <div class="section-navigation-inner">
            <ul class="section-navigation-list">
                
            </ul>
        </div>
        
        <div class="section-parameters">
            <div class="section-parameters-inner">
                <div class="section-parameters-selectors">
                    <form method="post" id="parameters_dropdown" class="section-parameters-form-onsubmit">
                        <input type="hidden" name="selected_week" value="{{ league_week }}"/>
                        <input type="hidden" name="selected_season" value="{{ league_year }}"/>
                        <input type="hidden" name="form_selector" value="parameters_search">
                        <div class="section-parameters-form">
                            <label for="section-parameters-dropdown">Ano</label>
                            <select class="section-parameters-dropdown" id="year-dropdown" name="season">
                                {% for y in range(current_year, 2017, -1) %}
                                <option value="{{ y }}" {% if y == league_year %}selected="" {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="section-parameters-form">
                            <label for="section-parameters-dropdown">Semana</label>
                            <select class="section-parameters-dropdown" id="week-dropdown" name="week">
                                {% if league_year >= 2022 %}
                                {% set last_week = 17 %}
                                {% else %}
                                {% set last_week = 16 %}
                                {% endif %}
                                {% if league_year == current_year %}
                                {% set selected_week = current_week %}
                                {% else %}
                                {% set selected_week = last_week %}
                                {% endif %}
                                {% for y in range(last_week, 0, -1) %}
                                <option value="{{ y }}" {% if y == league_week %}selected="" {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="section-parameters-form">
                            <button class="section-parameters-submit" name="submit" type="submit">Pesquisar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>   
    </section>
{% endblock %}