{% extends "base.html" %}
{% block title %}Fanfantasy Football - Next Gen Fanfastats{% endblock %}   
{% block content %}
    <!-- classificação -->
    <section class="main" id="main">
        <div class="standings-content">
            <h5>NEXT GEN FANFASTATS</h5>
            <form method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="name..." value="{{ texto }}"/>
                </div>
                <button type="submit" class="button">submit</button>
            </form>
        </div>
    </section>
{% endblock %}